@page
@using ChartJSCore.Models;
@using ChartJSCore.Helpers;
@model BookRec.App.Areas.Charts.Pages.IndexModel
@{
    ViewData["Title"] = "Charts";

    var dataset = new LineDataset()
    {
        Label = "Average Score",
        Data = Model.Charts.Select(x => x.Value).ToList(),
        Fill = "false",
        LineTension = 0.1,
        BackgroundColor = ChartColor.FromRgba(75, 192, 192, 0.4),
        BorderColor = ChartColor.FromRgb(75, 192, 192),
        BorderCapStyle = "butt",
        BorderDash = new List<int> { },
        BorderDashOffset = 0.0,
        BorderJoinStyle = "miter",
        PointBorderColor = new List<ChartColor> { ChartColor.FromRgb(75, 192, 192) },
        PointBackgroundColor = new List<ChartColor> { ChartColor.FromHexString("#ffffff") },
        PointBorderWidth = new List<int> { 1 },
        PointHoverRadius = new List<int> { 5 },
        PointHoverBackgroundColor = new List<ChartColor> { ChartColor.FromRgb(75, 192, 192) },
        PointHoverBorderColor = new List<ChartColor> { ChartColor.FromRgb(220, 220, 220) },
        PointHoverBorderWidth = new List<int> { 2 },
        PointRadius = new List<int> { 1 },
        PointHitRadius = new List<int> { 10 },
        SpanGaps = false
    };
    
    var data = new Data()
    {
        Labels = Model.Charts.Select(x => x.Label).ToList(),
        Datasets = new List<Dataset>
        {
            dataset
        }
    };

    var chart = new Chart()
    {
        Type = Enums.ChartType.Line,
        Data = data
    };
}


<div class="row">
    <div class="col-sm-6">
        <canvas id="lineChart"></canvas>
    </div>
</div>

@section Scripts {
    <script>
        @Html.Raw(chart.CreateChartCode("lineChart"));
    </script>
}